html{
	background: url(/images/background.jpg) no-repeat center center;
	background-size: cover;
}

body{
	color: #fff;
}

footer{
	background: none;
	padding: 1em 0;
}

h1{
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	opacity: .4;
	text-align: center;
}

h2{
	color: #fff;
	font-weight: 100;
	opacity: .8;
	text-align: center;
	font-size: 1.2em;
	line-height: .7;
}

h2 a{
	color: #fff;
}

h2 a:hover{
	background: #acf2e6;
	text-decoration: none;
	color: #fff;
	opacity: 1;
}

h3{
	text-transform: uppercase;
	font-weight: 100;
}

strong{
	font-weight: 300;
	text-transform: uppercase;
	font-size: .9em;
	color: #333;
}

nav{
	width: 100%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

nav ul li img{
	max-width: 3.3em;
	max-height: 3em;
	opacity: .4;
}

img#nav-riparian{
	margin-bottom: -.2em;
}

img#nav-rocket{
	height: 55px;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 1em 0 3em 0;
}

nav ul li{
	display: inline-block;
	margin: 0 2em;
	
}

nav ul li p{
	text-transform: uppercase;
	font-size: .6em;
	font-weight: 100;
	opacity: .4;
	margin: 0;
	
}

nav li.selected p, nav li:hover p, nav li:hover img, nav li.selected img{
	opacity: 1;
}

nav ul li p, nav ul li img, .callto, .readmore, #rocket, #riparian, #zboard{
	
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.contacticons{
	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidden{
	display:none;
}

.displayed{
	display: block;
}


.screenshots{
	padding-top: 1em;
	background-image: url(/images/outline.png);
	background-size: 244px 510px;
	background-repeat: no-repeat;
	width: 244px;
	height:510px;
	float: left;
	padding-top: 10px;
	padding-right: 40px;
	
}

.hoverlabel{
	width:100px;
	height: 20px;
	background: rgba(255,255,255,.05);
	position: relative;
	border-radius: 7px;
	font-size: 12px;
	color:rgba(255,255,255,.5);
	padding: 10px 6px 5px 3px;
	text-align: center;
	left: 10px;
	top: -80px;
	
}

.hoverlabel:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 8px 0;
	border-color: rgba(255,255,255,.05) transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -10px;
	left: 47px;
}

.hoveronme {
	border: 3px solid #fff;
	-webkit-border-radius: 30px;
	height: 15px;
	width: 15px;
	position: relative;
	left:55px;
	top:15px;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0
}
@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.hoveringonme{
	visibility: hidden;
	height: 21px;
	width: 21px;
	position: relative;
	left: 200px;
	top: 30px;
}

.work-right{
	opacity: .8;
	font-weight: 100;
	min-height: 510px;
	margin-left: 300px;
}

.screenshots video{
	padding: 12px 22px;
}

.readmore{
	border: 2px #acf2e6 solid;
	padding: .3em;
	width: 7em;
	display: inline-block;
	vertical-align: middle;

	text-align: center;
	margin: 90px 13%;
	width: 68%;
}

.readmore h4 a{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 100;
	margin: .1em;
	text-decoration: none;
	color: #fff;
}

.readmore:hover{
	background-color: #acf2e6;
}

.readmore h4{
	margin:0;
}

.readmore h4 a:hover{
	color:#000;
}

@media only screen and (max-device-width: 799px){
	
	.screenshots{
		background-image: none;
	}
	
	.screenshots video{
		padding: 0 22px;
		margin-top: -34px;
	}
	
	video{
		width: 203px;
		height: 360px;
	}
	
	.hoveronme, .hoverlabel{
		visibility:hidden;
	}
	
	
}

@media only screen and (max-width: 1080px){
	body{
		font-size: 1.2em;
	}
	p{
		line-height: 1.5em;
	}
}

@media only screen and (max-width: 830px){
	.screenshots{
		float:none;
		margin: auto;
		text-align: center;
	}
	
	.work-right{
		margin-left: 0;
	}
	.work-right strong{
		color: #ccc;
	}
	
	h2{
		line-height:1;
	}
	
}

@media only screen and (max-width: 500px){
	
	nav ul{
		padding:0 0 2em 0;
	}
	
	nav ul li{
		margin: 0 1em;
	}
}