html{
	background: url(/images/background.jpg) no-repeat center center;
	background-size: cover;
}

body{
	color: #fff;
}

footer{
	background: none;
	padding: 0 0 2em 0;
}

h1{
	color: #fff;
	padding-top: 1em;
	text-transform: uppercase;
	font-weight: 100;
	opacity: .4;
	text-align: center;
}

h2{
	color: #fff;
	font-weight: 100;
	opacity: .4;
	text-align: center;
	font-size: 1.2em;
	line-height: .7;
}

h2 a{
	color: #fff;
}

h2 a:hover{
	background: #5ca8dd;
	text-decoration: none;
	color: #fff;
	opacity: 1;
}

h3{
	text-transform: uppercase;
	font-weight: 100;
}

strong{
	font-weight: 100;
	text-transform: uppercase;
	font-size: .9em;
}


nav{
	width: 100%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

nav ul li img{
	max-width: 3.3em;
	max-height: 3em;
	opacity: .4;
}

img#nav-riparian{
	margin-bottom: -.2em;
}

img#nav-rocket{
	height: 55px;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin: 2em;
	
	
}

nav ul li p{
	text-transform: uppercase;
	font-size: .6em;
	font-weight: 100;
	opacity: .4;
	margin: 0;
	
}

nav li.selected p, nav li:hover p, nav li:hover img, nav li.selected img{
	opacity: 1;
}

nav ul li p, nav ul li img, .callto, .readmore, #rocket, #riparian, #zboard{
	
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.contacticons{
	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidden{
	display:none;
}

.displayed{
	display: block;
}


.screenshots{
	padding-top: 1em;
	background-image: url(/images/outline.png);
	background-size: 244px 510px;
	background-repeat: no-repeat;
	width: 244px;
	height:510px;
	float: left;
	padding-top: 10px;
	padding-right: 40px;
	
}

.hoveronme {
	border: 3px solid #fff;
	-webkit-border-radius: 30px;
	height: 15px;
	width: 15px;
	position: relative;
	left:200px;
	top:30px;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0
}
@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.hoveringonme{
	visibility: hidden;
	height: 21px;
	width: 21px;
	position: relative;
	left: 200px;
	top: 30px;
}

.work-right{
	opacity: .4;
	font-weight: 100;
	min-height: 510px;
	margin-left: 300px;
}

.screenshots video{
	padding: 46px 22px;
}

.readmore{
	border: 2px #acf2e6 solid;
	padding: .3em;
	width: 7em;
	display: inline-block;
	vertical-align: middle;
}

.readmore h4 a{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 100;
	margin: .1em;
	text-decoration: none;
	color: #fff;
}

.readmore{
	text-align: center;
	margin: 2em 15%;
	width: 68%;
}

.readmore:hover{
	background-color: #acf2e6;
}

.readmore h4{
	margin:0;
}

.readmore h4 a:hover{
	color:#000;
}

@media only screen and (max-width: 908px){

	
}

@media only screen and (max-width: 800px){

	
}

@media only screen and (max-width: 500px){

		
	}
}