body{
	margin:0;
	padding:0;
	font-family: "adobe-caslon-pro";
	font-size: 1.5em;
	color: #4F4763; /*dark purple*/
	width: 100%;
}

#navbar{
	font-family: "futura-pt-condensed";
	text-transform: uppercase;
	width:100%;
	position: fixed;
	top: 0;
	z-index: 10;
	filter:alpha(opacity = 80);
	opacity:.8;
	background-color: #fff;
}

ul.nav{
	list-style-type: none;
	text-align:center;
	padding: 0;
}

ul.nav li{
	display:inline-block;
	color:#4F4763; /*dark purple*/
	padding-right: .3em;
	padding-left: .3em;
	margin-right: .3em;
	margin-left: .3em;
}

ul.nav li a{
	color:#B7D9C0; /*green*/
	text-decoration: none;
}

ul.nav li a:hover{
	color: #E0C0C7; /*lighter purple*/
}

.selected{
	border-bottom: .2em solid #E7775E; /*orange*/
}

.container{
	width: 100%;
	margin-top: 5em;
	margin-left: 1em;
	margin-right: 1em;
}

a{
	color: #E7775E; /*orange*/
}

a:hover{
	color: #F6AB72; /*lighter orange*/
}

.cc{
	text-align: center;
	font-size: .5em;
}

ul.socialicons{
	width: 100%;
	text-align: center;
	padding: 0;
}

.socialicons li{
	display: inline-block;
}

img.social{
	width: 4em;
	display: inline-block;
}

#me{
	float: left;
	width: 5em;
}

h2, h3{
}

.creambackground{
	background-color: #FFF8E3; /*cream*/
}

.greenbackground{
	background-color: #B7D9C0; /*green*/
}

.lilacbackground{
	background-color: #E0C0C7; /*lighter purple*/
}


.greenbackground p .date, .pinkbackground p .date, .lilacbackground p .date{
	color: #E7775E; /*orange*/
}

.greenbackground p .meta, .pinkbackground p .meta, .lilacbackground p .meta{
	color: #FFF8E3; /*cream*/
}

.pinkbackground{
	background-color: #FFCCBF;/*pink*/
}

.twitter-share-button{
}

.fbshare{
	font-size: .7em;
	text-decoration: none;
	vertical-align: middle;
	padding-right: 1.5em;
}

#list-container{
	width: 100%;
	padding-top: 3.5em;
}

.apost{
	padding:2em;
}

.wrapimg{
	float: left;
	padding-right: .5em;
	max-width: 100%;
}

@media only screen and (max-width: 500px){
	body{
		font-size: 1em;
	}
	p{
		font-size: 1.2em;
	}
	.socialicons li{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	img.social{
		width: 6em;
		padding-top: 2em;
	}
	.container{
		margin-top: 5em;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	
	.container p, .container h3, .container h2{
		padding-left: 1em;
		padding-right: 1em;
	}
	
	#navbar{
		font-size: 1.1em;
		
	}
}
