body{
	margin:0;
	padding:0;
	font-family: "museo-sans";
	font-size: 1.5em;
	color: #000; /*black*/
	width: 100%;
}

.wrapimg{
	float: left;
	padding-right: .5em;
	max-width: 100%;
}

.container{
	width: 980px;
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 3em;
}

footer{
	width: 100%;
	background-color: #89c1b8;
	padding-bottom: 2em;
	padding-left: 2em;
}

footer h2{
	text-align: left;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1em;
	margin-bottom:0;
}

footer h2 a{
	text-decoration: none;
	color: #acf2e6;
}

footer h2 a:hover{
	color: #fff;
}

#contact{
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
}

.callto{
	border: 2px #acf2e6 solid;
	padding: .3em;
	width: 7em;
	display: inline-block;
	vertical-align: middle;
}

.callto:hover{
	background-color: #fff;
	border: 2px #fff solid;
}

.callto:hover img{
	opacity: 1;
}

#follow:hover{
	color: #5ca8dd;
}

#friend:hover{
	color: #3b5998;
}

.callto:hover img, .callto:hover h4{
	opacity: 1;
}

.callto img{
	height: .8em;
	padding: .3em .5em;
	float: left;
	opacity: .4;
}

.callto h4{
	text-transform: uppercase;
	opacity: .8;
	font-weight: 100;
	margin: .1em;
}

#follow{
	margin-left: 10%;
	margin-top: 1em;
}

#friend{
	margin-left: 5%;
	margin-top: 1em;
	width: 5.8em;
}

.contacticons{
	height: 1.2em;
	opacity: .4;
	padding-right: 1em;
	padding-top: .5em;
}

.contacticons:hover{
	opacity:1;
}

@media only screen and (max-width: 1040px){
	.container{
		width: 96%;
		margin: 0 2%;
	}
	#contact h2, #follow, #friend{
		font-size: .8em;
	}
}

@media only screen and (max-width: 720px){
	#follow, #friend{
		margin-left: 0;
	}
	#contact{
		width: 100%;
		display: block;
		padding-top: 2em;
	}
	.contacticons{
		display: none;
	}
}