@-webkit-keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
@keyframes fadeIn {from {opacity:0;} to {opacity:1;}}

.work{
	background-color: #555;
	width:100%;
	margin-top: -3em;
}

.content{
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}

.projects{
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding-top: 1em;
	padding-bottom: 1em;
}
.projects hr{
	border:0;
	width: 100%;
	background-color:#ccc;
	height: 1px;
}

.proj{
	display:inline;
	overflow: hidden;
}

.proj img{
	vertical-align: top;
	opacity: 0;
	
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
}

.rocket img{
	width: 26%;
	padding-top: 5em;
	
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	
}

.everwonder img{
	width: 35%;
	padding-top:12em;
	padding-left: 7%;
	padding-right: 7%;

	-webkit-animation-delay: .5s;
	animation-delay: .5s;
	
}


.ccomfort img{
	width: 20%;
	padding-top:10em;
	
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
	
}

.cardboard img{
	width: 35%;
	padding-top:2em;
	padding-left: 6%;
	padding-right: 5%;
	opacity: .4;

	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
	
}

.skimbox img{
	width: 28%;
	margin-top:-2em;
	padding-bottom: 2em;

	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	
}

.anexperience img{
	width: 20%;
	max-width: 15em;
	display: inline-block;
	vertical-align: top;
	padding-top: 3.5em;
	padding-right: 5%;
}

.anexperience .desc{
	width: 70%;
	margin-right: 0;
	margin-left: auto;
	display: inline-block;
}

.projects ul{
	list-style-type: none;
}
.projects .date{
	color: #b6b6b6;
}

@media only screen and (max-width: 770px){

	.everwonder img{
		padding-top: 8em;
	}
	
	.anexperience img{
		display:none;
	}
	
	.anexperience desc{
		width:100%;
	}
	
}