@-webkit-keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadeIn {from {opacity:0;} to {opacity:1;}}
@keyframes fadeIn {from {opacity:0;} to {opacity:1;}}

.work{
	background-color: #555;
	width:100%;
	margin-top: -3em;
}

.content{
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}

.projects{
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding-top: 1em;
	padding-bottom: 1em;
}
.projects hr{
	border:0;
	width: 100%;
	background-color:#ccc;
	height: 1px;
}

.proj{
	display:inline-block;
	position: relative;
	vertical-align: top;
}

.caption{
	background-color: rgba(20,20,20, .8);
	font-family: 'futura-pt-condensed';
	color: #ccc;
	width: 72%;
	font-size: .7em;
	position: absolute;
	left: 14%;
	right: 0;
	top: 25%;
	text-align: center;
	opacity: 0;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

h3.caption{
	margin-top: .5em;
}

.caption h3:after{
	width: 70%;
	position: absolute;
	bottom: 65%;
	right: 15%;
	color: #ccc;
	border-width: 0 0 1px;
	border-style: solid;
	content:'';
}

.btn{
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #e97f02;
	width: 60%;
	margin-left:20%;
	color: white;
}

.proj:hover .caption{
	opacity: 1;
}

.proj img{
	vertical-align: top;
	opacity: 0;
	width: 100%;
	
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	
}

.rocket{
	width: 26%;
	margin-top: 5em;
}

.rocket img{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	
}

.everwonder{
	width: 33%;
	margin-top:8em;
	margin-left: 7%;
	margin-right: 8%;
}

.everwonder img{
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
	
}

.everwonder .caption{
	margin-top: -2em;
}

.ccomfort{
	width: 20%;
	padding-top:10em;
}

.ccomfort img{
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
	
}

.ccomfort .caption{
	margin-top: 12em;
}

.cardboard{
	width: 35%;
	margin-top:2em;
	margin-left: 6%;
	margin-right: 5%;
}

.cardboard img{
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
	
}

.cardboard .caption h3:after, .ccomfort .caption h3:after{
	bottom: 50%;
}

.skimbox{
	width: 28%;
	margin-top:-2em;
	margin-bottom: 2em;
}

.skimbox img{
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	
}

.anexperience img{
	width: 20%;
	max-width: 15em;
	display: inline-block;
	vertical-align: top;
	padding-top: 3.5em;
	padding-right: 5%;
}

.anexperience .desc{
	width: 70%;
	margin-right: 0;
	margin-left: auto;
	display: inline-block;
}

.projects ul{
	list-style-type: none;
}
.projects .date{
	color: #b6b6b6;
}

@media only screen and (max-width: 770px){

	.everwonder{
		margin-top: 0;
	}
	
	.everwonder img{
		padding-top: 8em;
	}
	
	.anexperience img{
		display:none;
	}
	
	.anexperience desc{
		width:100%;
	}
	
}