---
layout: main
title: fragments
---

<div class="fragment">
  <h1>fragments</h1>
  <div class="split">
    <div class="left">
      <img class="portrait" src="/assets/photo.jpg" />
      <figcaption>Fig 1. Charlie as of Jan 2017, and the blue's now gone.</figcaption>
    </div>
    <div class="posts-list right">
      <h3>some thoughts and lists</h3>
      {% for post in site.posts %}  
      <div class="post">
        <div class="date">{{ post.date | date: "%B %Y"}}</div>
        <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
      </div>
      {% endfor %}
    </div>
  </div>
  <h3>slow progression of learning ceramics</h3>
  <div class="images">
    {% for myfile in site.static_files %}
      {% if myfile.path contains 'ceramics' %}
      <img class="img" src="{{ myfile.path }}"/ >
      {% endif %}
    {% endfor %}
  </div>
  <h3>some random things I have made</h3>
  <div class="images">
    {% for myfile in site.static_files %}
      {% if myfile.path contains 'make' %}
      <img class="img" src="{{ myfile.path }}"/ >
      {% endif %}
    {% endfor %}
  </div>
  <h3>few things from my kitchen</h3>
  <div class="images">
    {% for myfile in site.static_files %}
      {% if myfile.path contains 'cook' %}
      <img class="img" src="{{ myfile.path }}"/ >
      {% endif %}
    {% endfor %}
  </div>
</div>
<footer>
  <h1>Still curious?</h1>
  <div class="split">
    <div class="left">
      <p><a href="/nuna.html">Case study from Nuna</a></p>
      <p><a href="/addepar.html">Case study from Addepar</a></p>
    </div>
    <div class="right">
      <ul>
        <li><a href="mailto:me@chrnguyen.com"><img src="/assets/mail.svg" class="icon"/>me@chrnguyen.com</a></li>
        <li><a href="https://instagram.com/chrnguyen"><img src="/assets/ig.svg" class="icon" />instagram</a></li>
        <li><a href="https://linkedin.com/in/chrnguyen"><img src="/assets/li.svg" class="icon" />linkedin</a></li>
      </ul>
    </div>
  </div>
</footer>