    <footer>
      <a href="http://twitter.com/chrnguyen" onMouseOver="changeImg('twitter', 'tweet-selected')" onMouseOut="changeImg('twitter','tweet')"><img src="/images/tweet.png" id="twitter" class="contact-icons"></a>
      <a href="http://linkedin.com/in/chrnguyen" onMouseOver="changeImg('linkedin', 'linkedinicon-selected')" onMouseOut="changeImg('linkedin','linkedinicon')"><img src="/images/linkedinicon.png" id="linkedin" class="contact-icons"></a>
      <a href="http://github.com/chrnguyen" onMouseOver="changeImg('github', 'githubicon-selected')" onMouseOut="changeImg('github','githubicon')"><img src="/images/githubicon.png" id="github" class="contact-icons"></a>
      <a href="http://last.fm/user/chrnguyen" onMouseOver="changeImg('lastfm', 'lastfmicon-selected')" onMouseOut="changeImg('lastfm','lastfmicon')"><img id="lastfm" src="/images/lastfmicon.png" class="contact-icons"></a>
      <a href="http://pinterest.com/chrnguyen" onMouseOver="changeImg('pinterest', 'pinteresticon-selected')" onMouseOut="changeImg('pinterest','pinteresticon')"><img src="/images/pinteresticon.png" class="contact-icons" id="pinterest"></a>
    </footer>
  </body>
</html>