{% include postheader.html %}
  <div class="content">
    <h1>{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date_to_string }} &bull; Estimated reading time ~ {{ page.content | number_of_words | divided_by:180 }} min</p>
    <div class="post-content">
      {{content}}
    </div>
    <div class="clearfix">
      <div class="sharing">
        <div class="fb-share-button" 
          data-href="{{site.baseurl}}{{page.url}}" 
          data-layout="button">
        </div>
      </div>
      <div class="sharing">
        <a href="https://twitter.com/share" class="twitter-share-button" data-related="chrnguyen">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
    <div class="nav-back">
      <a href="{{site.baseurl}}/writings">← Read more writings</a>
    </div>
  </div>
{% include footer.html %}